<%# locals: (player:, current_player:) %>
<div id="<%= dom_id(player) %>" class="d-flex align-items-center gap-1">
  <% if player == current_player || player.online? %>
    <i class="bi bi-circle-fill text-success"></i>
  <% else %>
    <i class="bi bi-circle-fill text-danger"></i>
  <% end %>
  <% if player.guesser? %>
    <i class="bi bi-star-fill"></i>
  <% elsif player.answered? %>
    <i class="bi bi-check-square"></i>
  <% else %>
    <i class="bi bi-square"></i>
  <% end %>
  <span class="d-block<%= " fw-bold" if player == current_player %>">
    <%= player.name %>
  </span>
</div>
