<%# locals: (completed_answer:) %>
<div class="list-group-item list-group-item-<%= completed_answer.correct? ? "success" : "danger" %>">
  <div class="d-flex w-100 justify-content-between">
    <div class="d-flex flex-wrap align-items-baseline gap-2">
      <h5 class="mb-1"><%= completed_answer.player.name %></h5>
      <% unless completed_answer.correct? %>
        <span class="text-danger-emphasis small">(not <%= completed_answer.guessed_player.name %>)</span>
      <% end %>
    </div>
    <% if completed_answer.correct? %>
      <i class="bi bi-check-lg"></i>
    <% else %>
      <i class="bi bi-x-lg small"></i>
    <% end %>
  </div>
  <div class="mb-1 p-2 w-100 bg-light border rounded">
    <%= completed_answer.answer %>
  </div>
</div>
