<%# locals: (completed_answer:) %>
<div class="list-group-item list-group-item-<%= completed_answer.correct? ? "success" : "danger" %> py-2">
  <div class="mb-2">
    <strong><%= completed_answer.player.name %></strong>
    <% unless completed_answer.correct? %>
      <span class="text-danger small ms-1">
        (guessed: <%= completed_answer.guessed_player.name %>)
      </span>
    <% end %>
  </div>
  <div class="p-2 bg-light border rounded small">
    <%= completed_answer.answer %>
  </div>
</div>
