<%# locals: (game:, current_player:) %>
<%= turbo_stream_from current_player.to_model, channel: PlayerChannel %>

<div class="d-flex flex-wrap align-items-start gap-2 mt-2">
  <div class="flex-grow-1">
    <div id="game">
      <%= yield %>
    </div>
  </div>

  <div>
    <div class="fw-bold">Players:</div>
    <div id="players">
      <%= render(partial: "loaded_questions/players/player",
        collection: game.players,
        as: :player,
        locals: { current_player: current_player }) %>
    </div>
  </div>
</div>
