<%# locals: (game:) %>
<%= render "loaded_questions/games/question_card", question: game.question %>

<div id="answers" class="mt-2 px-2 pb-2 border rounded"
  data-controller="swap"
  data-swap-name-value="guess"
  data-swap-url-value="<%= swap_guesses_loaded_questions_game_path(game.slug) %>">
  <%= render(partial: "loaded_questions/games/guessed_answer",
    collection: game.guesses,
    as: :guessed_answer,
    locals: { gripper: true }) %>
</div>

<div data-controller="dialog">
  <button type="button" class="mt-3 w-100 btn btn-primary" data-action="dialog#open">
    Complete Matching
  </button>

  <dialog data-dialog-target="dialog" class="border-0 p-4 rounded-3 bg-white" style="max-width: 500px;">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1 class="fs-5 mb-0">Complete Matching</h1>
      <button type="button" class="btn-close" data-action="dialog#close" aria-label="Close"></button>
    </div>
    <div class="mb-3">
      Are you sure you would like to finalize your matched answers?
    </div>
    <div class="d-flex justify-content-end gap-2">
      <button type="button" class="btn btn-secondary" data-action="dialog#close">
        Close
      </button>
      <%= button_to("Yes, I am sure",
        completed_round_loaded_questions_game_path(game.slug),
        method: :patch,
        class: "btn btn-primary") %>
    </div>
  </dialog>
</div>
