<%# locals: (guessed_answer:, gripper:) %>
<div class="pt-2" data-swap-target="group">
  <div class="fw-bold">
    <%= guessed_answer.player.name %>
  </div>
  <div class="swap-item d-flex align-items-center gap-2 p-2 border border-secondary bg-light rounded"
    data-id="<%= guessed_answer.player.id %>">
    <% if gripper %>
      <div>
        <i class="bi bi-grip-vertical"></i>
      </div>
    <% end %>
    <span class="d-block small">
      <%= guessed_answer.guessed_answer %>
    </span>
  </div>
</div>
