<%# locals: (game:, current_player:) %>
<%= render layout: "loaded_questions/games/game", locals: { game:, current_player: } do %>
  <div class="card border-secondary mb-2">
    <div class="card-body">
      <strong>Question:</strong>
      <%= game.question %>
    </div>
  </div>

  <%= yield %>
<% end %>
