<%= render layout: "loaded_questions/games/game" do %>
  <div id="answers" class="mt-2 px-2 pb-2 border rounded">
    <%=
      render(
        partial: "loaded_questions/games/guessed_answer",
        collection: @game.guesses,
        as: :guessed_answer,
        locals: { gripper: false }
      )
    %>
  </div>
<% end %>
