<%# locals: (game:, current_player:, answer_form:) %>
<%= render layout: "loaded_questions/games/round", locals: { game:, current_player: } do %>
  <div data-controller="reveal" data-reveal-hidden-class="d-none">
    <button type="button" data-action="reveal#toggle" class="mt-3 w-100 btn btn-secondary">
      Show / Hide Answer
    </button>

    <%= turbo_frame_tag "answer_form_frame" do %>
      <%= render "loaded_questions/games/answer_form", game:, current_player:, answer_form: %>
    <% end %>
  </div>
<% end %>
