<h1>Loaded Questions</h1>

<div>
  <strong>Question:</strong>
  <%= @game.question %>
</div>

<div>
  <strong>Players:</strong>
  <ul>
    <% @game.players.each do |player| %>
      <li>
        <% if player.guesser? %>
          [X]
        <% else %>
          [ ]
        <% end %>
        <%= player.name %>
      </li>
    <% end %>
  </ul>
</div>
