<%# locals: (game:, current_player:) %>

<%= render "codenames/games/status_bar", game:, current_player: %>

<% if game.status.playing? %>
  <% ring_color = game.current_team.red? ? "border-danger" : "border-primary" %>
  <div class="border border-2 rounded p-2 <%= ring_color %>">
    <%= render "codenames/games/board", game:, current_player: %>
  </div>
<% else %>
  <%= render "codenames/games/board", game:, current_player: %>
<% end %>
